#### \ 출력

In [13]:
print('''\\    /\\''')
print(''' )  ( ')''')    # no ')  ( \')'
print('''(  /  )''')
print(''' \\(__)|''')

\    /\
 )  ( ')
(  /  )
 \(__)|

In [16]:
a,b = map(int, input().split(' '))

print(a/b)

4 5
0.8

In [ ]:
472
385

In [43]:
a = int(input())
b = input()

for i in range(len(b)-1,-1,-1):
    print(a*int(b[i]))
print(a*int(b))

3
3
9
9

In [ ]:
data = int(input())
#  윤달
#  4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수
if data%4==0 and (data%100 != 0 or data%400==0):
    print(1)
else:
    print(0)

첫째 줄에 두 정수 H와 M이 주어진다. (0 ≤ H ≤ 23, 0 ≤ M ≤ 59) 그리고 이것은 현재 상근이가 설정한 놓은 알람 시간 H시 M분을 의미한다.

입력 시간은 24시간 표현을 사용한다. 24시간 표현에서 하루의 시작은 0:0(자정)이고, 끝은 23:59(다음날 자정 1분 전)이다. 시간을 나타낼 때, 불필요한 0은 사용하지 않는다.

In [36]:
n,m = map(int,input().split(' '))

# 45분전 계산

if m-45 < 0:
    m = 60 + (m-45)
    n-=1
    if n < 0:
        n = 23
        
    print(n, m)    
else:
    print(n, m-45)

23 40
22 55

In [39]:
data = int(input())

for i in range(1,10):
    print(data,'*',i,'=',data*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
import sys
input = sys.stdin.readline
n = int(input())


for _ in range(n):
    a,b = map(int,input().split(' ') )
    print(a+b)

In [42]:
t = int(input())

for i in range(1,t+1):
    a,b = map(int, input().split(' '))
    print('Case #{0}: {1} + {2} = {3}'.format(i,a,b,a+b))

1
2 4
Case #1:2 + 4 = 6

In [47]:
n = int(input())
for i in range(1,n+1):
    print(' '*(n-i)+'*'*i)

3
  *
 **
***

#### 입력 없이 반복문

In [49]:
# 정석
import sys

for line in sys.stdin:
    a,b = map(int, line.split())
    print(a + b)
    
    
# 
try:
    while 1:
        a,b = map(int, input().split(' '))
        print(a+b)
except:
    exit()

1 2
3

0보다 크거나 같고, 99보다 작거나 같은 정수가 주어질 때 다음과 같은 연산을 할 수 있다. 먼저 주어진 수가 10보다 작다면 앞에 0을 붙여 두 자리 수로 만들고, 각 자리의 숫자를 더한다. 그 다음, 주어진 수의 가장 오른쪽 자리 수와 앞에서 구한 합의 가장 오른쪽 자리 수를 이어 붙이면 새로운 수를 만들 수 있다. 다음 예를 보자.

26부터 시작한다. 2+6 = 8이다. 새로운 수는 68이다. 6+8 = 14이다. 새로운 수는 84이다. 8+4 = 12이다. 새로운 수는 42이다. 4+2 = 6이다. 새로운 수는 26이다.

위의 예는 4번만에 원래 수로 돌아올 수 있다. 따라서 26의 사이클의 길이는 4이다.

N이 주어졌을 때, N의 사이클의 길이를 구하는 프로그램을 작성하시오.

In [61]:
n = input()
new_n = n
cnt = 0

while True:
    cnt += 1
    if int(new_n) < 10:
        tmp = '0'+new_n[-1]
        new_n = tmp[1] + new_n[-1]
        
    else:
        num = str(eval('{0}+{1}'.format(new_n[0], new_n[1])))    # eval 은 문자열 '1+2'를 계산 '1'+'2' 가 아니라
        new_n = new_n[1] + num[-1]
        
    if int(new_n) == int(n):
        print(cnt)
        break

26
4

In [ ]:
data = 1
for _ in range(3):
    a = int(input())
    data *= a    

test = str(data)
for i in range(10):
    print(test.count(str(i)))

In [ ]:
150
266
427

In [125]:
n = int(input())

data = list(map(int, input().split(' ')))

max_grade = max(data)

new_grade = [ i/max_grade*100 for i in data ]

result = sum(new_grade)/n
print(result)

3
10 20 30
66.66666666666667

In [132]:
t = int(input())

for _ in range(t):
    a = list(map(int, input().split(' ')))
    
    n = a[0]
    data = a[1:]
    
    # 평균 넘는 학생의 비율 : 평균넘는 학생수/전체수 * 100 +'%'
    average = sum(data)/n
    
    taller = [i for i in data if i > average]
    ratio = len(taller)/n * 100
    print('%.3f' % ratio+'%')    # 40.000% 붙여서 출력
    
#     print('%.3f' % ratio,'%')  # 40.000 % 한 칸 띄우고 출력

1
5 50 50 70 80 100
40.000%

In [15]:
# 1, 3, 5, 7, 9, 20, 31, 42, 53, 64, 75, 86, 97

def selfNumber(n):
    if n < 10:
        return n+n
    else:
        result = n
#         text = list(str(n))
#         text_to_int = list(map(int, text))
        num = list(map(int, str(n)))
        result += sum(text_to_int)    
        return result

data = set()
for i in range(1,10001):
    data.add(selfNumber(i))
    
for i in range(1,10000):
    if i not in data:
        print(i)

In [5]:
n = int(input())
hansoo = 0
for i in range(1,n+1):
    if i < 100:
        hansoo+=1
        
    else:
        num = list(map(int, str(i)))
        if num[0]-num[1] == num[1]-num[2]:   # 등차 수열이니까 차가 같다는건 부호도 의미, abs() 쓰면 오답
             hansoo+=1
            
print(hansoo)

1
1

#### 아스키 코드

In [9]:
# 아스키코드 값 반환

n = input()

print(ord(n))
#  chr()  아스키값을 해당 문자나 숫자로 반환

1


#### print(* 리스트 ) , print(문자열)

In [18]:
data = input()
result = []
for i in range(97, 123):
    text = chr(i)
    if text in data:
        result.append(data.index(text))
    else:
        result.append(-1)
        
print(*result)   #  list 를 일렬로 출력 시켜줌

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [28]:
t = int(input())

for _ in range(t):
    a = input().split(' ')
    n = int(a[0])
    data = list(a[1])
    result = ''
    for i in data:
        result += i*n
    
    print(result)     # print(*문자열)  글자가 각각 한 칸씩 띄우고 출력 할 수 있다

1
5 /HTP
/////HHHHHTTTTTPPPPP

In [37]:
#  1157

data = input().upper()

def max_string(data):
    set_data = set(data)
    max_str = [max(set_data, key=lambda x:data.count(x))]   # set_data가 시간 단축!
    max_cnt = data.count(max_str[0])
    text = ''
    for i in set_data:
        if i not in max_str and data.count(i) == max_cnt:
            max_str.append(i)
            print('?')
            return
    print(max_str[0])
    return
max_string(data)

baaa
A

#### split() != split(' ')

In [47]:
# 1152
# data = input().strip().split(' ')    # 오답
data = input().strip().split()    # 차이 없다고 생각했는데....

print(len(data))

print("a bb  ccc   dddd    ".split())
print("a bb  ccc   dddd    ".split(' '))    #  공백들을 각각 따로 처리...

The Curious Case of Benjamin Button
6
['a', 'bb', 'ccc', 'dddd']
['a', 'bb', '', 'ccc', '', '', 'dddd', '', '', '', '']

#### list[::-1]

In [56]:
data = input().split(' ')
# 734 893

textA, textB = '',''
for i in range(2,-1,-1):
    textA += data[0][i]
    textB += data[1][i]
    
print(max(int(textA),int(textB)))


#   참고사이트 : https://roseline124.github.io/algorithm/2019/04/01/Altorithm-baekjoon-2908.html 
#  - 4ms
a,b = input().split(' ')
textA = a[::-1]
textB = b[::-1]

print(max(int(textA),int(textB)))

734 893
437
734 893
437

#### 5622
- https://www.acmicpc.net/problem/5622

In [179]:
#  5622   ord('A')== 65, ord('Z')==90
data = input()

sec = 0
for i in data:
    if i==' ':   # 1은 공백? 0은 모르겠어서 else로
        sec += 2
    elif ord(i) > 64 and ord(i) < 91:
        txt = ord(i) - 65
        if txt in [18,21,24,25]:   # S 이후 부터 
            portion = txt//3
        else:
            portion = txt//3 + 1
        sec += portion +2
    else:
        sec+= 9
        
print(sec)

UNUCIC
36

In [19]:
#  -4ms but 코드가 긺..
alphabet = [0]
cnt = 0
start = ord('A')-1
end = ord('Z') + 1
tmp = ''
while start < end:    # 알파벳 리스트 만들기
    start+=1
    cnt += 1
    tmp += chr(start)
    if cnt == 3:
        if chr(start)=='R' or chr(start)=='Y':
            tmp += chr(start+1)
            start = start+1
        alphabet.append(tmp)
        tmp = ''
        cnt = 0
    
data = input()
result = 0
for i in data:    #  해당 알파벳의 index를  걸린 시간으로 계산
    if i==' ':
        result += 2
        continue
    for j in range(1,len(alphabet)):
        if i in alphabet[j]:
            result += (j+2)
        
print(result)

UNUCIC
36

In [130]:
#  사이트 참고...
print(sum(min(ord(c)-64,25)*28//89+3for c in input()))

UNUCIC
36

In [12]:
str_list = ['c=','c-','dz=','d-','lj','nj','s=','z=']
data = input()

idx = 0
cnt = 0
check_bool = True
while idx < len(data):
    check_bool = True
    for word in str_list:
        length = idx+len(word)
        if word in data[idx:length]:
            cnt += 1
            idx = length
            check_bool = False
            break
            
    if check_bool:
        idx += 1
        cnt+=1

print(cnt)

c=c=

In [14]:
# 참고 사이트 : https://hongku.tistory.com/255
str_list = ['c=','c-','dz=','d-','lj','nj','s=','z=']

data = input()

for i in str_list:
    data = data.replace(i,'*')
    
print(len(data))

c=c=
2

#### sorted()

In [32]:
word = 'aappaaapa'
sorted(word, key=word.find)   # no word.find()

['a', 'a', 'a', 'a', 'a', 'a', 'p', 'p', 'p']

In [3]:
#  1316
t = int(input())
result = 0
for _ in range(t):
    data = input()
    
    if list(data) == sorted(data, key=data.find):
        result += 1
        
print(result)

4
aba
abab
abcabc
a
1

In [7]:
# 0=1, 1=1 , 2=2 = 1*2, 3=6 =2*3
def factorial(n):
    if n == 0:
        return 1
    if n == 1:
        return 1
        
    return n*factorial(n-1)

factorial(10)

3628800

In [8]:
def fibonacci(n):
    if n==0:
        return 0
    if n==1:
        return 1
    
    return fibonacci(n-1) +fibonacci(n-2) 

data = int(input())
print(fibonacci(data))

10
55

### 2447 별찍기 보류

In [15]:
# https://conak-diary.tistory.com/20

def concatenate(r1, r2):
    return [''.join(x) for x in zip(r1, r2, r1)]
 
def star10(n):
    if n == 1:
        return ['*']
    n //= 3
    x = star10(n)
    a = concatenate(x, x)
    b = concatenate(x, [' '*n]*n)
 
    return a + b + a
 
print('\n'.join(star10(int(input()))))

27
***************************
* ** ** ** ** ** ** ** ** *
***************************
***   ******   ******   ***
* *   * ** *   * ** *   * *
***   ******   ******   ***
***************************
* ** ** ** ** ** ** ** ** *
***************************
*********         *********
* ** ** *         * ** ** *
*********         *********
***   ***         ***   ***
* *   * *         * *   * *
***   ***         ***   ***
*********         *********
* ** ** *         * ** ** *
*********         *********
***************************
* ** ** ** ** ** ** ** ** *
***************************
***   ******   ******   ***
* *   * ** *   * ** *   * *
***   ******   ******   ***
***************************
* ** ** ** ** ** ** ** ** *
***************************

In [ ]:
# https://leedakyeong.tistory.com/entry/%EB%B0%B1%EC%A4%80-python-2447%EB%B2%88-%EB%B3%84-%EC%B0%8D%EA%B8%B0-10

def star(i): 
    global arr # arr 전역변수화; r에서 "<<-" 와 같은 기능 
    idx = [i for i in range(n) if (i // 3 ** cnt_) % 3 == 1] 
    for i in idx: 
        for j in idx: 
            arr[i][j] = " " 
n=int(input()) 
v=n;cnt=0 
while v!=1: 
    v/=3 
    cnt+=1 

arr = [["*"]*n for _ in range(n)] 
for cnt_ in range(cnt): 
    star(cnt_) 
    
print('\n'.join([''.join([str(i) for i in row]) for row in arr]))

#### 11729 하노이 탑 이동 순서

In [ ]:
#  if isinstance(x,int)  # 타입을 boolean으로

In [14]:
# 11729

def hanoitop(n,a,b,c):
    global cnt
    cnt+=1
    if n == 1:
        print(cnt,' up\t',a,b,c)
        
    else:
        hanoitop(n-1,a,c,b)
        print(cnt,' down\t',a,c,b)
        hanoitop(n-1,b,a,c)

n = int(input())
cnt = 0

moved_cnt = 1
for _ in range(n-1):
    moved_cnt = moved_cnt*2 +1
print(moved_cnt)
hanoitop(n,1,2,3)

4
15
4  up	 1 3 2
4  down	 1 3 2
5  up	 2 1 3
5  down	 1 2 3
7  up	 3 2 1
7  down	 3 2 1
8  up	 1 3 2
8  down	 1 3 2
11  up	 2 1 3
11  down	 2 1 3
12  up	 3 2 1
12  down	 2 3 1
14  up	 1 3 2
14  down	 1 3 2
15  up	 2 1 3

In [ ]:
def hanoitop(n, a,b,c):
    if n==1:
        print(a,c)
        
    else:
        # 1->2번째로 이동(출력문 이용) , 1나 줄지
        hanoitop(n-1,a,c,b)
        print(a,c)
        # 각 원판의 마지막 이동 : 재귀 실행 순서상 위에거 다음 순서+ a,c 만 출력 :  
        #   마지막 하나만 남기고 모든 원판 b에 있고, 마지막 하나 a->c, b-> c로 종료 
        #    ( b,a,c=> else로 2 : b->c(a와c출력), b,a,c => a,b,c => 마지막 if 로1: a->c)
        hanoitop(n-1,b,a,c)